<%- layout('layouts/main.ejs') %>

<div class="jumbotron jumbotron-fluid mt-4">
    <div class="container">
      <h1 class="display-4">TOURISM API</h1>
      <p class="lead">Look and add different interest groups.</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/signup" role="button">Get Started</a>
    </div>
  </div>