<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourism API nodeJS - EJS</title>
    <!--Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/simplex/bootstrap.min.css" rel="stylesheet" integrity="sha384-cRAmF0wErT4D9dEBc36qB6pVu+KmLh516IoGWD/Gfm6FicBbyDuHgS4jmkQB8u1a" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Tourism API</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <% if (user) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/places">Places</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/search"> Search Places</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Exit</a>
                  </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/signin">Sign In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                  </li>
            <% } %>
          </ul>
        </div>
      </nav>
    <div class="container">
        <% if (signupMessage.length > 0) { %>
            <div class="alert alert-danger">
                <%= signupMessage %>
            </div>
        <% } %>
        <% if (signinMessage.length > 0) { %>
            <div class="alert alert-danger">
                <%= signinMessage %>
            </div>
        <% } %>
        <% if (addGroupMessage.length > 0) { %>
          <div class="alert alert-success">
              <%= addGroupMessage %>
          </div>
        <% } %>
        <%- body %>
    </div> 
</body>
</html>